.home .hypnocade {
	position: relative;
}

.home .hypnocade img {
	border-radius: 2%;
	display: block;
	width: 100%;
}

.home .hypnocade:after {
    background: radial-gradient(ellipse at center, rgba(0,0,0,0) 0%,rgba(0,0,0,0.25) 75%,rgba(0,0,0,0.85) 99%,rgba(0,0,0,1) 100%);
	border-radius: 2%;
	content: "";
    display: block;
    height: 100%;
	left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

.home section {
	column-gap: 1.5rem;
	display: grid;
	grid-template-columns: 1fr 2fr;
	margin-top: 3rem;
}

.home section > * {
	display: block;
	margin: 0 auto;
	max-width: 500px;
}

@media (max-width: 639px) {
	.home section {
		grid-template-columns: 1fr;
		margin-top: 5rem;
		row-gap: 1rem;
	}
}
