.modal-content {
    border: 0;
    border-radius: 5px;
    max-height: 80vh;
    max-width: 80vw;
    outline: none;
    padding: 0;

    &[open] {
        align-items: center;
        display: flex;
        justify-content: center;

        &::backdrop {
            background-color: rgba(0, 0, 0, 0.8);
        }
    }

    :first-child {
        object-fit: contain;
        width: 100%;
        max-height: 80vh;
    }

    > .prev, > .next {
        border: 0;
        border-radius: 0;
        font-size: 2rem;
        height: 4rem;
        outline: none;
        position: absolute;
        top: 50%;
    }

    > .prev {
        left: 0;
    }

    > .next {
        right: 0;
    }

    > .description {
        background: #cccccc;
        bottom: 0;
        font-size: 0.9rem;
        min-width: 100%;
        padding: 0.5rem 2rem;
        position: fixed;
        width: min-content;
    }
}